.App {
    /* text-align: center; */
    font-family: 'Lato', sans-serif;
    margin: 2% 10% 5%;
    line-height: 1.6;
}

.Title {
    font-size: 32px;
    font-weight: bold;
}

.Subtitle {
  font-size: 24px;
  font-weight: bold;
}

main {
    font-size: 20px;
}

.LikertScale {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.VerticalCenter {
    /* margin: 0% 15%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.Scenario {
    /* margin: 3% 12%; */
}

.Question {
  font-size: 18px;
  font-weight: bold;
}

.Question .Reminder {
    color: red;
    display: none;
}

/* Classes for all different types of questions*/
.R1Reminder, .R2Reminder, .R3Reminder, .R4Reminder, .R5Reminder, .R6Reminder, .R7Reminder, .R8Reminder,
.U1Reminder, .U2Reminder, .U3Reminder, .U4Reminder, .U5Reminder, .SkillReminder, .BeliefReminder,
.DesireReminder, .AwarenessReminder, .willReminder, .WrongfulnessReminder, .HarmfulnessReminder,
.IntentionalityReminder, .ForeseeabilityReminder, .autonomyReminder, .LiabilityReminder, .BlameReminder,
.responsibilityReminder,  .sexReminder, .ageReminder, .educationReminder, .csKnowledgeReminder,
.controlQ1Reminder, .controlQ2Reminder, .controlQ3Reminder, .controlQ4Reminder, .controlQ5Reminder,
.controlQ6Reminder {
    display: inline !important;
}

.Spotlight {
  text-decoration: underline;
  font-weight: bold;
}

.RedSpotlight {
  color: red;
}

.QuestionMargin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.ControlQuestions {
  /* margin: 3% 15% 5%; */
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  min-width: 60px;
}
