.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.Title {
    font-size: 32px;
    font-weight: bold;
}

.Subtitle {
  font-size: 24px;
  font-weight: bold;
}

main {
    font-size: 18px;
}

.VerticalCenter {
    padding: 10% 15%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Scenario {
    margin: 5% 7%;
}

.Question {
  font-size: 18px;
  font-weight: bold;
}

.Spotlight {
  text-decoration: underline;
  font-weight: bold;
}

.RedSpotlight {
  color: red;
}

.QuestionMargin {
  margin: 15px;
}
